body
{
	background: #686ac8;
	color:white;
	padding:0 150px;
	font-family: 'Cabin', sans-serif;
}

#header
{
	margin-bottom: 75px;	
}

#navbar-brand
{
	float:left;
}

#navbar-brand>h2
{
	display:inline-block;
	margin-left: 3px;
}

#navbar-brand .cloud
{
	font-size:1.5em;
}

#navbar-brand~nav
{
	float:right;
	padding:15px 0px;
}

#navbar-brand~nav ul
{
	padding:0px;
	margin:0px;

}


#navbar-brand~nav ul li
{
	float:left;
	list-style: none;

}

#navbar-brand~nav ul li a
{
	display:block;
	text-decoration: none;
	color:white;
	padding:12px;
	font-size: 0.8em;
	font-weight: bold;
}

#navbar-brand~nav ul li a:hover
{
	color:#686ac8;
	background:white;
}

section
{
	display: flex;
	width: 100%;
	box-sizing:border-box;
}

#article1
{
	width:50%;
	padding-right:20px;

}



#article1 h2
{
	font-size: 1.9em;
	letter-spacing: 2px;


}

#article1 p
{
	line-height: 1.7em;

}


#article2
{
	width:50%;
	position: relative;
	right:0px;
	margin-left: 25px;
	
}

#article2 img
{
	width:100%;
	height: 100%;
	object-fit: contain;
}

.header-button
{
	background:transparent;
	box-sizing: border-box;
	color: white;
	font-size: .8em;
	padding: 12px;
	margin:7px 3px;
	border: 2px solid white;
}


.clear
{
	clear:both;
}


#mobile-header
{
	display: none;
}


@media screen and (min-width: 0px) and (max-width: 600px){
		
	#header
	{
		display: none;
	}

	body{
		width: 95%;
		padding:0;
		padding-top:10px;
		margin:0 auto;
	}

	#mobile-header
	{
		display: block;
		width: 100%;
		position: relative;
	}
	
	#hoverable .burger-icon
	{
		right:0;
		position: absolute;
		top:0px;
	}

	#hoverable:hover #mobile-navbar ul
	{
		display: block;
	}

	#mobile-navbar-brand h2
	{
		display: inline;
	}


	#mobile-navbar
	{
		position: relative;
	}

	#mobile-navbar ul
	{
		display: none;
		position: absolute;
		width: 60%;		
		z-index: 1;
		list-style: none;
		padding: 0px;
		margin: 0px;
		left:45%;
		top:-1em;
		text-align: center;
		background: black;
	}

	#mobile-navbar ul li a
	{
		text-decoration: none;
		color: white;
		display: block;
		padding: 10px;
		border-bottom: 1px solid white;
	}


	#mobile-navbar ul li a:hover
	{
		background: white;
		color: black;
	}
	
	section
	{
		flex-wrap: wrap;
		text-align: center;
	}

	section #article1 h2
	{
		font-size: 1.5em;
	
	}

	
	#section article
	{
		width: 100%;
		
	}

	#article2
	{
		margin: auto;
	}	

}


@media screen and (min-width: 600px) and (max-width: 880px){
		
		
	#header
	{
		display: none;
	}

	body{
		width: 85%;
		padding:0;
		padding-top:15px;
		margin:0 auto;
	}

	#mobile-header
	{
		display: block;
		width: 100%;
		position: relative;
	}
	
	#hoverable .burger-icon
	{
		right:0;
		position: absolute;
		top:0px;
	}

	#hoverable:hover #mobile-navbar ul
	{
		display: block;
	}

	#mobile-navbar-brand h2
	{
		display: inline;
	}


	#mobile-navbar
	{
		position: relative;
	}

	#mobile-navbar ul
	{
		display: none;
		position: absolute;
		width: 60%;		
		z-index: 1;
		list-style: none;
		padding: 0px;
		margin: 0px;
		left:45%;
		top:-1em;
		text-align: center;
		background: black;
	}

	#mobile-navbar ul li a
	{
		text-decoration: none;
		color: white;
		display: block;
		padding: 10px;
		border-bottom: 1px solid white;
	}


	#mobile-navbar ul li a:hover
	{
		background: white;
		color: black;
	}
	
	section
	{
		flex-wrap: wrap;
		text-align: center;
	}

	section #article1 h2
	{
		font-size: 1.5em;
	
	}

	
	#section article
	{
		width: 100%;
		
	}

	#article2
	{
		margin: auto;
	}	



}